{% extends "base.html" %}
{% load extras %}

{% block content %}
<div class="container mt-5">
    <h2>Create Recipe</h2>
    <form method="post">
    {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|addcss:"form-control" }}
        </div>
        {% endfor %}

        <div class="align-content-end mb-2">
            <button type="button" class="btn btn-outline-success" id="ingredientListBtn">+</button>
        </div>

        <div class="ingredient-list-container">

        </div>

        <input type="submit" class="btn btn-primary mb-5" value="Create">
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% include 'recipes/js/recipe-create.js.html' with form=form inglist_form_url=inglist_form_url btn_id='ingredientListBtn' %}
{% endblock %}